.products {
    margin-top: 2vh;
    display: flex;
    align-items: center;
}

.products__gallery {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    width: 100vh;
}

.product-container {
    margin: 2vh 2vh 2vh 2vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
}

.product-photo {
    height: 20vh
}

.product-name {
    height: 2vh;
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: 600;
    margin: 1vh 0 0 1vh;
}

.product-button {
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    margin: 1vh 0vh 1vh 1vh;
}
.product-buttons{
    display: flex;
    justify-content: flex-end;
}
.product-ADMIN-button{
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    margin: 1vh 0vh 1vh 1vh;
}
.add-product-container{
    display: flex;
    justify-content: center;
    margin: 1vh 1vh 1vh 1vh;
}
